body {
  font-family: "Sniglet", system-ui;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: rgb(203 103 92);
}

#calculator {
  margin: 100px 500px;
  background-color: salmon;
  padding: 50px;
  border: 5px rgb(72, 9, 51) solid;
  box-shadow:
    rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#display-area {
  background-color: rgb(115, 66, 74);
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1) 76%,
      transparent 77%,
      transparent
    );
  height: 100%;
  background-size: 100px 100px;
  font-size: 50px;
  font-weight: 400;
  color: white;
  padding: 10px;
  border: 5px white solid;
  border-radius: 20px;
  min-height: 70px;
}

#buttons-area {
  flex: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

#number-buttons {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-content: stretch;
}

#operator-buttons {
  order: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-content: stretch;
}

#extra-buttons {
  order: 1;
  flex: 1;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-content: stretch;
}

#number-buttons button {
  flex: 1;
}

#operator-buttons button:not(#equals) {
  flex: 1;
}

#equals {
  flex: 2;
}

#clear {
  flex: 5;
}

button {
  font-weight: 800;
  color: rgb(116, 23, 73);
  font-size: 50px;
  min-width: 100px;
  padding: 10px;
  background-color: pink;
  border: 2px purple solid;
  border-radius: 20px;
}

button,
button:focus {
  background-image: linear-gradient(pink, rgb(229, 129, 254));
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
  transform: translate(0, -3px);
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
}

button:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

.animated-gradient {
  background: linear-gradient(-45deg, #f59ef2, #e73c7e, #8b23d5, #6123d5);
  background-size: 400% 400%;
  animation: gradient-shift 10s ease infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
